@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #1f2933;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  text-align: center;
  max-width: 1280px;
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  flex: 25%;
  max-width: 20%;
  padding: 65px 5px;
  margin: 12px;
  background-color: #3e4c59;
  border-radius: 12px 10px;
  text-align: center;
}

.column:hover{
  background-color: #F5F7FA;
  transition-duration: .3s
  ;
}

.text{
  font-size: 16px;
  letter-spacing: 2px;
  
}

.linkButton {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  margin-top: 12px;
  border-radius: 2px;
  background: #1f2933;
  border: 7px solid #1f2933;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1rem;
  color: #F5F7FA;
  cursor: pointer;
  margin-bottom: 12px;
  transition: all 0.25s ease;
}

.linkButton:hover{
  background: #9AA5B1;
  color: #1f2933;
  border: 6px solid #9AA5B1;
  margin-top: 12px;
  margin-bottom: 24px;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  text-align: center;
  max-width: 1280px;
  margin: auto;
  
}

.input{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: inherit;
  width: 20%;
  border: 0;
  border-bottom: 2px solid #9AA5B1;
  outline: 0;
  font-size: 1.3rem;
  color: #F5F7FA;
  padding: 7px 0;
  background: transparent;
  transition: border-color .2s;
}

.input:hover {
  border-bottom: 3px solid #F5F7FA;
}

@media (max-width:  1110px) {
  .row {
    font-size: .8rem;
  }
}

@media(max-width: 390px){

  .input {
    width: 80%;
  }

  .row {
    display: flex;
    flex-direction: column;

    .column {
      max-width: none;
    }
  }

}

